body{
    background-color: #000;
    color: #fff;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header > i {
    font-size: 1.5rem;
}

.header-title{
    font-size: 1.6rem;
}