body{
    margin: 0;
    text-align: center;
}
/* 
main{
    min-height: 200vh;
} */

a{
    text-decoration: none;
    color: #fff;
}

/* .bg-dark{
    /* background-color: #343a40; */
} */

.bg-light{
    background-color: #f8f9fa;
    margin: 0;
}

i{
    font-size: 2rem;
}

.loader{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/hand-1030571.jpg') center center no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.loader-container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 900px;
    width: 70%;
    margin: auto auto;
}

.loader-container > h1 h2{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    height: 100%;
}

.loader-img-container{
    width: 100%;
}

.loader-img-container > img{
    /* image contain */
    max-width: 100%;
    max-height: calc(100vh / 4);
}

.header{
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
    height: 250px;
}

.header-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-buttom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: inherit;
}

.title{
    font-size: 2.2rem;
    font-weight: bold;
}

.left-header{
    display: flex;
    align-items: center;
}

.middle-header{
    display: block;
    margin: 0 auto;
}

.right-header{
    margin-left: auto;
}

.page-title{
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 40px;
}

.sticky-top{
    position: sticky;
    top: 0;
    z-index: 1;
}

.container{
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}

.cards{
    grid-column: 2/ span 12;
    display: grid;
    grid-template-columns: repeat(12 , minmax(auto, 60px));
    grid-gap: 40px;
}

.card {
    text-decoration: none;
    grid-column-end: span 3;
    padding-top: calc(9/16 * 100%);
    background-color: #343a40;
    background: url('./assets/images/background.png') center center no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 10px;
    transition: all .3s ease 0s;
    position: relative;
}

.card:hover{
    transform: translateY(-7px);
}

.card-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-body {
    flex: 0.31;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-size: 1.9rem;
    font-weight: bold;
    padding: 0;
    margin: auto;
}

.card-title-inner {
    font-size: 1rem;
}

.card-img-container {
    flex: 0.69;
    height: 100px;
}

.card-img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer{
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    bottom: 0;
    height: 100%;
    min-height: 180px;
}

.logo-container {
    height: 100%;
}

.logo-container > img{
    height: 100%;
    width: 450px;
}

@media only screen and (max-width: 1200px) {

    .cards{
        grid-template-columns: repeat(6 , minmax(auto, 120px));
        grid-gap: 80px;
    }

    .card{
        grid-column-end: span 3;
    }

    .card-title{
        font-size: 3.1rem;
    }

    .card-title-inner {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 960px) {

    .card {
        grid-column-end: span 3;
    }

    .card-title {
        font-size: 2.9rem;
    }

    .card-title-inner {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 900px) {

    .card-title {
        font-size: 2.4rem;
    }

    .card-title-inner {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 785px) {

    .card-title {
        font-size: 2.2rem;
    }

    .card-title-inner {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 725px) {

    .card-title {
        font-size: 2rem;
    }

    .card-title-inner {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        grid-gap: 20px;
    }

    .card {
        grid-column-end: span 3;
    }

    .card-title {
        font-size: 1.8rem;
    }

    .card-title-inner {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 670px) {
    .card-title {
        font-size: 1.7rem;
    }

    .card-title-inner {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 580px) {
    .container {
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }

    .cards{
        grid-column-end: 2/ span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }

    .card {
        grid-column-end: span 6;
    }

    .card-title {
        font-size: 3.5rem;
        letter-spacing: -0.05rem;
    }

    .card-title-inner {
        font-size: 2rem;
        letter-spacing: -0.05rem;
    }

    .title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .page-title {
        font-size: 1rem;
        font-weight: bold;
        margin-left: 20px;
    }

    i {
        font-size: 1rem;
    }
    
}

@media only screen and (max-width: 490px) {
    .card-title {
        font-size: 3.6rem;
    }
    
    .card-title-inner {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 490px) {
    .card-title {
        font-size: 3rem;
    }

    .card-title-inner {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 380px) {
    .card-title {
        font-size: 2.5rem;
    }

    .card-title-inner {
        font-size: 1.2rem;
    }
}