body{
    margin: 0;
    text-align: center;
}

main{
    min-height: 80vh;
}

a{
    text-decoration: none;
    color: #fff;
}

.bg-dark{
    background-color: #343a40;
}

.bg-light{
    background-color: #f8f9fa;
    margin: 0;
}

i{
    font-size: 2rem;
}

.header{
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
}

.left-header{
    display: flex;
    align-items: center;
}

.middle-header{
    margin: 0 auto;
}

.right-header{
    margin-left: auto;
}

.page-title{
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 40px;
}

.sticky-top{
    position: sticky;
    top: 0;
    z-index: 1;
}

.container{
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}

.cards{
    grid-column: 2/ span 12;
    display: grid;
    grid-template-columns: repeat(12 , minmax(auto, 60px));
    grid-gap: 40px;
}

.card {
    text-decoration: none;
    grid-column-end: span 3;
    padding-top: calc(9/16 * 100%);
    background-color: #343a40;
    background: url('./assets/images/background.jpg') center center no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 10px;
    transition: all .3s ease 0s;
    position: relative;
}

.card:hover{
    transform: translateY(-7px);
}

.card-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-body {
    flex: 0.31;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
    margin: auto;
}

.card-img-container {
    flex: 0.69;
    width: 45%;
    padding-left: 7%;
}

.card-img-container > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.footer{
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    bottom: 0;
    height: 100%;
}

@media only screen and (max-width: 1200px) {

    .card{
        grid-column-end: span 6;
    }
}

@media only screen and (max-width: 960px) {

    .card {
        grid-column-end: span 6;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        grid-gap: 20px;
    }

    .card {
        grid-column-end: span 6;
    }
}

@media only screen and (max-width: 580px) {
    .container {
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }

    .cards{
        grid-column-end: 2/ span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }

    .card {
        grid-column-end: span 6;
    }
}